matplotlib
numpy
opencv-python # cv2
Pillow
PyQt5
pyedflib
scikit-learn
scipy
python-picard
keyboard
pandas

pylsl
python-picard # picard

### --- Common expirements script dependencies (not necessary for the XtrRT package) ---
PyAutoGUI
psychopy
tabulate